<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container-fluid">
        <div class="container" style="margin-top:20px">
                <ul class="nav justify-content-center">
                        <li class="nav-item">
                          <a class="nav-link active" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/index">Login</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/registration">Signup</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/profile" tabindex="-1" aria-disabled="true">Profile</a>
                        </li>
                      </ul>
        </div>
        <div class="container" style="margin: 5% auto ;">

                <form action="/signup">
                        <div class="form-row" >
                          <div class="form-group col-md-6" style="margin:10px auto">
                            <label for="inputEmail4">Email</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                          </div>
                          <div class="form-group col-md-6" style="margin:10px auto">
                            <label for="inputPassword4">Password</label>
                            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                          </div>
                        </div>
                        <div class="form-group" style="margin:10px auto">
                          <label for="inputAddress">User Name</label>
                          <input type="text" class="form-control" id="inputAddress" placeholder="Enter User Name">
                        </div>
                        <div class="form-group" style="margin:10px auto">
                          <label for="inputAddress2">Contact No</label>
                          <input type="tel" class="form-control" id="inputAddress2" placeholder="Contact No">
                        </div>
                        
                        <button type="submit" class="btn btn-primary" style="margin-top:20px">Sign in</button>
                      </form>
            



        </div>
    </div>

    



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>